name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.UPDATING_METRICS }}
      - name: Spotify - Random track from playlist
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.music.playlist.spotify.svg
          token: NOT_NEEDED
          base: ""
          plugin_music: yes
          plugin_music_playlist: https://open.spotify.com/embed/playlist/37i9dQZF1Epf1LXcHoVuz1?utm_source=generator
          name: Compact display
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.achievements.compact.svg
          token: ${{ secrets.UPDATING_METRICS }}
          base: ""
          plugin_achievements: yes
          plugin_achievements_only: >-
              polyglot, stargazer, sponsor, deployer, member, maintainer, developer,
              scripter, packager, explorer, infographile, manager
          plugin_achievements_display: compact
          plugin_achievements_threshold: X
      - name: WakaTime
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.wakatime.svg
          token: NOT_NEEDED
          base: ""
          plugin_wakatime: yes
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME }}
      - name: Recent activity
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.activity.svg
          token: ${{ secrets.UPDATING_METRICS }}
          base: ""
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 0
          plugin_activity_filter: issue, pr, release, fork, review, ref/create
      - name: Most used
        uses: lowlighter/metrics@latest
        with:
          filename: languages.svg
          token: ${{ secrets.UPDATING_METRICS }}
          base: ""
          plugin_languages: yes
      - name: Fortune
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.fortune.svg
          token: ${{ secrets.UPDATING_METRICS }}
          base: ""
          plugin_fortune: yes
      - name: Favorites anime and currently watching
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.anilist.svg
          token: ${{ secrets.UPDATING_METRICS }}
          base: ""
          plugin_anilist: yes
          plugin_anilist_medias: anime
          plugin_anilist_sections: favorites, watching
          plugin_anilist_limit: 1
          plugin_anilist_user: alaquoke
      - name: Half-year calendar
        uses: lowlighter/metrics@latest
        with:
           filename: isocalendar.svg
           token: ${{ secrets.UPDATING_METRICS}}
           base: ""
           plugin_isocalendar: yes

